#options-container {
    .option {
    background-color: #3c0e70;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;

    &:hover {
        opacity: 1;
    }

    p {
        margin-bottom: 0;
        
    }

    }


    .correct {
        background-color: #0bfc03;
        opacity: 1;

        p {
            font-weight: bold;
        }
    }

    .wrong {
        background-color: #3c0e70;
        opacity: 0.4;
    }
}
