.App {
    text-align: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1em;

    h1 {
        margin-bottom: 3rem;
    }
}
